.text-result-container{

    display: flex;
    justify-content: center;

}

.text-result{
    width: 90%;
    border-bottom: 2px solid #c1c1c166;
    display: flex;
    justify-content: space-between;
    align-items: end;   
}